#signup{
	
    text-align: center;
    margin: 0 auto;
	border:1px solid #b8b7bd;
	width:32%;
    background-color: #fff;
}
#footer{
	text-align: center;
	margin: 0 auto;
}

.a{
	padding:1%;
}

.b{
	text-align: center;
}
.c{
	text-align: center;
	font-size:0.9rem;
	padding: 10% 5% 10% 5%;

}

input{
	width:90%;
	padding:1%;
}
.d{
text-align: center;

}
.e{
	text-align: center;
	
}
.m{
	float: left;
	padding-left:4%;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


.navbar a {
  float: right;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a: hover {
  background-color: #000;
}
a{
	text-decoration: none;
}
body{
	 background: lightgray;
}
